<div class="rounded-md mt-24 bg-white border-solid border-2 border-blue-600 fixed w-1/3">
    <div class="p-6">
        <div class="mb-2">
            <div class="flex justify-stretch">
                <input type="text" name="title" id="title"
                class="text-3xl text-blue-600 w-full mr-2"
                value="{{ todoDto.title }}" onclick="this.select();"
                [(ngModel)]="todoDto.title"
                >
                    <div *ngIf="creating; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <button class="rounded-lg bg-blue-100 border-2 border-blue-600 px-4 py-2"
                        (click)="createTodo()"
                        >Create</button>
                    </ng-template>
                    <ng-template #elseBlock>
                        <button class="rounded-lg border-2 border-blue-600 text-blue-600 px-4 py-2 mr-2"
                        (click)="updateTodo()"
                        >Update</button>
                        <button class="rounded-lg border-2 border-red-600 text-red-600 px-4 py-2" 
                        (click)="deleteTodo()">Delete</button>
                    </ng-template>
            </div>
        </div>
        <div class="mb-6">
            <label for="due_date" class="text-2xl text-gray-500 mr-2">Due by</label>
            <input type="datetime-local" name="due_date" id="due_date" 
            value="{{ todoDto.due_date }}" onclick="this.select();"
            [(ngModel)]="todoDto.due_date"
                class="text-lg">
        </div>
        <div>
            <textarea name="description" rows="4" cols="50" id="description" onclick="this.select();"
                class="text-xl shadow-inner w-full" value="{{ todo.description }}"
                [(ngModel)]="todoDto.description"
                ></textarea>
        </div>
    </div>
</div>