<div class="grid grid-cols-2 gap-4">
  <div>
    <div class="text-3xl">Overdue</div>
    <app-todoitem *ngFor="let todo of this.overdueTodos" [todo]="todo" (selectEvent)="selectTodo($event)"></app-todoitem>

    <div class="text-3xl">Today</div>
    <app-todoitem *ngFor="let todo of this.todayTodos" [todo]="todo" (selectEvent)="selectTodo($event)"></app-todoitem>

    <div class="text-3xl">Tomorrow</div>
    <app-todoitem *ngFor="let todo of this.tomorrowTodos" [todo]="todo" (selectEvent)="selectTodo($event)"></app-todoitem>

    <div class="text-3xl">Later</div>
    <app-todoitem *ngFor="let todo of this.laterTodos" [todo]="todo" (selectEvent)="selectTodo($event)"></app-todoitem>

  </div>
  <div class="container w-3/4">
    <button class="rounded-lg bg-blue-500 text-white p-4 mb-4 fixed" (click)="initCreationFlow()">+ Add New</button>
    <app-tododetails [todo]="selectedTodo"></app-tododetails>
  </div>
</div>