<div class="grid grid-cols-2 gap-4">
  <div class="container">
    <app-todo-list [todos]="todos" (selectionEvent)="selectTodo($event)"></app-todo-list>
  </div>
  <div class="container w-3/4">
    <button class="rounded-lg bg-blue-500 text-white p-4 mb-4 fixed" (click)="initCreationFlow()">+ Add New</button>
    <app-todo-details *ngIf="selectedTodo" [todo]="selectedTodo" [creating]="creating" 
    (creationEvent)="createTodo($event)"
    (updationEvent)="updateTodo($event)"
    (deletionEvent)="deleteTodo($event)"
    ></app-todo-details>
  </div>
</div>